In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
# from sklearn.naive_bayes import MultinomialNB  #for multiclass

from sklearn.metrics import accuracy_score, classification_report

In [3]:
df = pd.read_csv("bank.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [4]:
df.shape

(11162, 17)

In [5]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [6]:
df.deposit.value_counts()

0    5873
1    5289
Name: deposit, dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
age_scaler = StandardScaler()
balance_scaler = StandardScaler()
duration_scaler = StandardScaler()

df['age'] = age_scaler.fit_transform(df[['age']])
df['balance'] = balance_scaler.fit_transform(df[['balance']])
df['duration'] = duration_scaler.fit_transform(df[['duration']])
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1.491505,0,1,1,0,0.252525,1,0,2,5,8,1.930226,1,-1,0,3,1
1,1.239676,0,1,1,0,-0.459974,0,0,2,5,8,3.154612,1,-1,0,3,1
2,-0.019470,9,1,1,0,-0.080160,1,0,2,5,8,2.929901,1,-1,0,3,1
3,1.155733,7,1,1,0,0.293762,1,0,2,5,8,0.596366,1,-1,0,3,1
4,1.071790,0,1,2,0,-0.416876,0,0,2,5,8,0.867171,2,-1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,-0.691015,1,2,0,0,-0.473616,1,0,0,20,0,-0.331287,1,-1,0,3,0
11158,-0.187357,7,1,1,0,-0.246658,0,0,2,16,6,-0.832564,4,-1,0,3,0
11159,-0.774958,9,2,1,0,-0.464934,0,0,0,19,1,-0.622258,2,-1,0,3,0
11160,0.148416,9,1,1,0,-0.473926,0,1,0,8,8,-1.045752,2,172,5,0,0
11161,-0.607072,9,1,1,0,-0.473926,0,0,0,9,5,0.737530,1,-1,0,3,0

In [8]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [9]:
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [10]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.2,random_state=21)

In [11]:
xtest.shape

(2233, 16)

In [12]:
def mymodel(model):
    model.fit(xtrain,ytrain)
    ypred=model.predict(xtest)
    print(classification_report(ytest,ypred))
    return model

In [13]:
NB_model = BernoulliNB()

In [14]:
mymodel(NB_model)

              precision    recall  f1-score   support

           0       0.72      0.76      0.74      1148
           1       0.73      0.68      0.70      1085

    accuracy                           0.72      2233
   macro avg       0.72      0.72      0.72      2233
weighted avg       0.72      0.72      0.72      2233

BernoulliNB()

In [15]:
NB_model= GaussianNB()

In [16]:
mymodel(NB_model)

              precision    recall  f1-score   support

           0       0.79      0.72      0.75      1148
           1       0.73      0.80      0.76      1085

    accuracy                           0.76      2233
   macro avg       0.76      0.76      0.75      2233
weighted avg       0.76      0.76      0.75      2233

GaussianNB()